html, body
{ 
	height: 100%;
	margin: 0;
	padding: 0;
}

#map
{
	height: 505px;
	width: 950px;
}

.custom-loading-dialog
{
	background-color: transparent;
	box-shadow: none;
	overflow: hidden;
}

.custom-background-color
{
	background-color: #0E1326;
}

.custom-modal-background-color
{
	background-color: #121935;
}